<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <hmh_ordercommentmessage>
            <order_comment>
                <enabled>0</enabled>
            </order_comment>
        </hmh_ordercommentmessage>
    </default>
</config>
